<div class="row">
    <div class= "col-md-12">
        <img src="{{ recipeDetailsInfo?.recipeImg }}" class=" mt-5" style="width: 100%;height: 300px; object-fit: cover;" alt="" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>
            {{ recipeDetailsInfo?.recipeName }}
        </h1>
    </div>
</div>
<div class="row">
    <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Manage Recipe
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">To shopping List</a></li>
            <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
            <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted">{{ recipeDetailsInfo?.recipeDescription }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Ingredients</p>
    </div>
</div>